body {
  background: url("https://images.unsplash.com/photo-1696643830146-44a8755f1905?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
  background-position: center;
  background-size: fill;
  color: aliceblue;
}

.sign-cont {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 400px;
  box-shadow: 0 0 10px rgba(38, 39, 39, 0.5);
  border-radius: 1rem;
}
input {
  width: 270px;
  margin: 0.5rem auto;
}
